@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 background-color: #090e10;
 
 

}

:root::-webkit-scrollbar {
    display: none;
}




#stickyScroll::-webkit-scrollbar {
    display: none;
}
